@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", theme("fontFamily.sans");
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", theme("fontFamily.sans");
    font-optical-sizing: auto;
  }
}
